@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

::selection{
    color: rgb(168, 135, 91);
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background: #fffdfd;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(33, 159, 209),rgb(94, 28, 170));
    border-radius: 2px;

}
                  
.video-container {
    width: 100vw;
    height: 100vh; 
}

.video1 {
    position: relative;
    top: 30px;
    left: 30px;
    width: 95%;
    height: 90%;
    object-fit: cover;
    z-index: -1;
}

.heading {
    display: block;
    position: absolute;
    top: 32%;
    left: 9%;
    width: 80%;
    letter-spacing: 0px;
    word-spacing: 5px;
    line-height: normal;
    font-size: 2.0rem;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    background-color: none;
    font-size: 0.8rem;
    text-decoration: none;
    border: solid 0.8px;
    letter-spacing: 2px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.btn:hover{
    color: rgb(212, 204, 204);
    text-decoration: none;
    border: solid 0.8px white;
    letter-spacing: 3.4px;
}

.menu{
  position: absolute;
  right: -60%;
  width: 220px;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background-color: white;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.menu.active{
  right: 0%;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;     
}                
                
.menu ul{            
  list-style-type: none;
}

.menu ul li a{
  font-size: 12px;
  color: rgb(7, 7, 8);
  font-weight: 600;
  height: 50px;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s ease;
}

/* ----- Apply a bottom border to the links and hide it initially ---------> */

.line-hover {
    text-decoration: none;
    position: relative;
}

.line-hover::before {
    content: '';
    position: absolute;
    background: #050404;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    transition: 0.3s ease-in-out;
}

.line-hover:hover::before {
    width: 100%;
}

.menu-toggle {
    position: absolute;
    top: 8%;
    right: 3.5%;
    width: 60px;
    height: 60px;
    background: url('./Hamburger\ Menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    z-index: 10000;
    transition: 0.7s ease;                             
}

.menu-toggle:hover{
    transform: scale(1.1);
}

.menu-toggle.active{
    background: url('./Close\ Icon.png');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    z-index: 2;
    position: absolute;
    right: 3.5%;
}

.menu-toggle.active:hover{
    transform: scale(1.08);
}

/* page 2----------------------- */

.container-1 {
    position: relative;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.video-2 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 95vw;
    height: 90vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
    background-color: rgb(255, 253, 253); 
}

.about-head {
    flex-basis: 40%;
    position: relative;
    top: 10px;
    left: 30px;
    font-size: 1.2rem;
    text-align: left;
    color: black;
    font-family: 'Poppins';
    overflow: visible;
}

.about-head span{
    font-size: 1.2rem;
}

.head-2 {
    margin-bottom: 40px;
    text-align: center;
    color: black;
}

.gallery {
    position: relative;
    bottom: 22px;
    flex-basis: 40%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 120px ;
    z-index: 1;
    overflow-y: hidden;
}

.box {
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #695656;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
    transform: translateY(20px);
}      

.row-2 {
    grid-row: span 2;
}

.col-2 {
    grid-column: span 2;
}

.box:hover {
    background-color: #99999905;
    box-shadow: 0 0 4px white;
}

.b-1:hover {
    background-position: left;
}

.b-2:hover {
    background-position: bottom;
}

.b-3:hover{
    background-position: bottom;
}

.b-4:hover {
    background-position: left;
}

.b-5:hover {
    background-position: 1px -3px ;
    background-repeat: no-repeat;
}

.b-6:hover {
    background-position: center;
}

.b-7:hover {
    background-position: center;
}

.b-3 {
    background-position: center ;
    background-size: cover;
}

.b-5 {
    background-position: center;
}

.b-7{
    background-position: top ;
}

.b-2{
    background-position: center -45px;
}

.b-1{
    border-top-right-radius: 30px;
}

.b-2{
    border-bottom-right-radius: 30px;
}

.b-4 {
    border-top-left-radius: 30px;
}

.b-5{
 border-top-right-radius: 30px;
}

.b-7 {
 border-top-right-radius: 30px;
}

/* Third page--------------> */

.page-3 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.video3{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 95%;
    height: 90%;
    object-fit: cover;
    overflow: hidden;
}

.about-2 {
    color: white;
    position: relative;
    width: 40%;
    padding: 20px;
    top: 50%;
    left: 5%;
}

.about-2 h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.about-2 p{
    font-size: 1.7rem;
    position: relative;
}

.round-btn{
    position: absolute;
    top: 35%;
    left: 46%;
    height: 12%;
    width: 5%;
    transition: 0.4s ease;
}

.round-btn:hover{
    transform: scale(1.1);
}

/* Carousel ------------------------- */

.background-container{
    position: relative;
    top: 40px;
    height: 100vh;
    width: 100vw;
    background:url('./carousel\ -bg.png');
    background-size: cover;
    background-position: 1000px;
}

.container{
    position: relative;
    left: 17%;
    top: 10%;
    width: 900px;
    height: 520px;
    box-shadow: 0 30px 50px #a9a8a8;
    overflow-x: visible;
}  

.item{
    width: 160px;
    height: 210px;
    background-size: cover;
    background-position: 100% 47% ;
    display: inline-block;
    transition: 0.8s;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 30px 50px #6d6a6a79;
}

.item:nth-child(1), .item:nth-child(2){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3){
    left: 53%;
}

.item:nth-child(4){
    left: calc(48% + 220px)
}

.item:nth-child(5){
    left: calc(43% + 440px)
}

.item:nth-child(n+6){
    left: calc(40% + 660px);
    opacity: 0;
}

.item .content{
    position: absolute;
    top: 50%;
    left: 8%;
    width: 280px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0,-50%);
    display: none;
    overflow: hidden;
}

.item:nth-child(2) .content{
    display: block;
    z-index: 111111;
}

.item .name{
    font-size: 36px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.item .des{
    font-size: 18px;
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

.item button{
    font-size: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s forwards ;
    transition: 0.5s;
}

.item button:hover{
    background-color: #bac383;
}

@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);        
    }
    to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}

.buttons{
    position: absolute;
    bottom: 30px;
    left: 4.5%;
    z-index:22222;
    height: 8%;
    text-align: center;
    width: 92%;
    height: 50px;
}

.buttons button{
    background-color: #e4ebf7;
    color: #01193d;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 0.5s;
}

.buttons button:hover{
    background-color: #bac383;
    transform: scale(1.1);
}

/* CSS slider ------------------ */

.css-slider{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top right,rgba(70, 92, 99, 0.993), rgba(61, 96, 192, 0.945));
}

.css-slider h1{
    position: relative;
    top: 8%;
    margin-left: 2%;
    font-size: 3.5rem;
    color: #ffffff;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.outer-container{
    position: relative;
    top: 14%;
    max-width: 40rem;
    height: 23rem;
    z-index: 1;
    margin: 0 auto;
    background-color: white;
    border-radius: 0;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.slider-wrapper {
    position: absolute;
    top: 4.6%;
    left: 2.6%;
    border-radius: 10px;
    max-width: 38rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    height: 54vh;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem hsla(0%, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
 
.slider-nav{
    display: flex;
    column-gap: 0.6rem;
    position: absolute;
    bottom: 3%;
    left: 42%;
    transform: translateX((-50%));
    z-index: 1;
}

.slider-nav a{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}


.slider-nav a:hover{
    opacity: 1;
}

/* Testimonials----------------------- */

:root{
    --primary-color: #053e80;
    --white-color: #ffffff;
    --light-color: #ced6e0;
    --dark-color: #2f3542;
    --box-shadow: rgb(0 0 2 / 35%) 0px 20px 30px -10px;
}

.wrapper {
    overflow: hidden;
}

.mySwiper{
    overflow: hidden;
}

.swiper-wrapper{
    overflow: visible;
}

.swiper-button-prev{
    position: absolute;
    left: 0%;
}

.swiper-button-next{
    position: absolute;
    right: 5%;
}

.testi{
    position: relative;
}

.testi :is(.swiper-button-next,.swiper-button-prev){
    background-color: var(--light-color);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: background-color 0.3s;
    box-sizing: var(--box-shadow);
}

.testi :is(.swiper-button-next,.swiper-button-prev)::after{
    font-size: 16px;
    font-weight: 800;
    color: var(--white-color);
}

.testi :is(.swiper-button-next,.swiper-button-prev):hover{
    background-color: var(--primary-color);
}

.site{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--dark-color);
    background-color: var(--white-color);
    overflow-x: visible;
}

.site {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-testi {
    max-width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
    overflow-x: visible;
}

.testi {
    max-width: 900px;
    margin: 0 auto;
}

.testi .head {
    text-align: center;
    margin-bottom: 60px;
    overflow-x: visible;
}

.testi .thumbnail {
    width: 100px;
    height: 100px;
    position: relative;
    flex-shrink: 0;
    overflow-x: visible;
}

.testi .head h3 {
    font-size: 30px;
    font-weight: 800;
}

.testi .head p {
    font-size: 17px;
}

.testi .thumbnail img {
    object-fit: cover;
    width: 90%;
    height: 90%; 
    border-radius: 50%;
    transform: scale(2);
    transition: transform 0.5s;
    overflow-x: visible;
}

.testi .swiper-slide-active .thumbnail img {
    transform: scale(1) ;
    overflow-x: visible ;
}            

.testi .thumbnail::before{
    content: '';
    position: absolute;
    top: -10px;
    bottom: 0;
    left: 0;
    width: calc(88% + 25px);
    height: calc(78% + 32px);
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: -1;
    box-sizing: var(--box-shadow);
    transition: border-radius 0.5s 0.3s;
    overflow-x: visible;
}

.testi .swiper-slide-active .thumbnail::before{
    border-radius: 33% 67% 60% 50% / 47% 10% 100% 60%;
}

.testi .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
    overflow-x: visible;
}

.testi .aside{
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-self: flex-end;
    overflow-x: visible;
}

.testi .aside > p{
    position: relative;
    font-size: 14px;
    line-height: normal;
    height: 100px;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateX(10%);
    transition: transform 1s, opacity 1s;
    overflow-x: visible;
}

.testi .swiper-slide-active .aside > p{
    transform: translateX(0);
    opacity: 1;
    overflow-x: visible;
}

.testi .aside > p::before,
.testi .aside > p::after {
    font-weight: 800;
    font-family: sans-serif;
    font-size: 80px;
    line-height: 1;
    position: absolute;
    color: var(--light-color);
    height: 40px;
    z-index: -1;
    overflow-x: visible;
}

.testi .aside > p::before{
    content: open-quote;
    top: -54px;
    left: 10px;
    overflow-x: visible;
}

.testi .aside > p::after{
    content: close-quote;
    right: 10px;
    overflow-x: visible;
}

.testi .aside .name{
    position: relative;
    width: fit-content;
    line-height: 1;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 1s 0.2s , opacity 1s 0.3s;
}

.testi .swiper-slide-active .name{
    transform: translateX(-40px);
    opacity: 1;
    overflow-x: visible;
}


.testi .aside .name h4{
    font-size: 20px;
    font-weight: 800;
    color: var(--primary-color);
    opacity: 0.8;
     overflow-x: visible;
}

.testi .aside .name p {
    font-size: 14px;
    margin-top: 8px;
    text-align: right;
    overflow-x: visible;
}


@media  screen and (min-width: 768px){
    .testi .wrapper {
        flex-direction: row;
        padding: 30px 100px;
        overflow-x: visible;
    }

    .testi .thumbnail {
        width: 180px;
        height: 180px;
        overflow-x: visible;
    }
}

/* Contact us  --------------------------------------*/

.contact-body{
    height: 85vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right , #acc0c970, #f4faff);
}

.image-slider {
    position: absolute;
    top: 5.1%;
    left: 2.6%;
    width: 44%;
    height: 90%;
    background-image: url('./Roadside\ -\ contact.jpg');
    background-size: 100% 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
    animation: change 19s linear infinite alternate-reverse;
    z-index: 111;
} 

@keyframes change{
    0%,100%{
        background-image: url('./Trekking\ -\ Contact\ us.jpg');
    }
    25%{
        background-image: url('./Kasar\ Devi\ -Grid.jpg');
    }
    50%{
        background-image: url('./Innocent\ little\ girl-\ contact\ us.jpg');
    }
    75%{
        background-image: url('./Rishikesh\ -\ contact\ us.jpg');
    }
}

.content .image-box img{
    width: 100% ;
}

.container-contact{
    font-family: 'Poppins';
    position: relative;
    max-width: 530px;
    width: 100%;
    height:  58%;
    background: #ffffff;
    border-radius: 6px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0,0, 0, 0.5);
}

.container-contact .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.content .topic{
    position: absolute;
    top: 32px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 32px;
    color: #034983de;
}

.content form{
    width: 40%;
    margin-right: 30px;
    margin-top: 28px;
    overflow: visible;
}

.content .input-box{
    position: relative;
    height: 33px;
    width: 100%;
    top: 20px;
    margin: 10px auto;
    overflow: visible;
  
}

.content .input-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 16px;
    outline: none;
    background-color: #d1dde4;
    border: 2px solid transparent;
}

.content .input-box input:focus,
.content .input-box input:valid{
    border-color: #5291c5de;
    background-color: #fff;
}

.content .input-box label{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #4f5558;
    letter-spacing: 1px;
    font-size: 11px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label {
    top: 0;
    left: 12px;
    color: #032539;
    background: #fff;
}

.content .message-box{
    min-height: 55px;
    position: relative;
    top: 20px;
}

.content .message-box textarea{
    position: absolute;
    padding-top: 14px;
    padding-left: 18px;
    height: 100%;
    width: 100%;
    resize: none;
    background: #d1dde4;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
}

.content .message-box label{
    position: absolute;
    font-size: 11px;
    color: #4f5558;
    left: 18px;
    top: 8px;
    letter-spacing: 1px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.content .message-box textarea:focus{
    border-color: #5291c5de;
    background: #fff;
}

.content .message-box textarea:focus ~ label{
    display: none;
}

.content .input-box input[type="submit"]{
    color: white;
    letter-spacing: 1px;
    padding-left: 0;
    font-size: 11px;
    margin-top: 4px;
    font-weight: 500;
    background-color: #0b61a8de;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all o.3s ease;
}

.content .input-box input[type="submit"]:hover{
    background-color: #0a4364;
    outline: none;
    border: none;
}

/* FOOTER------------------------ */

.footer-line {
    position: absolute;
    width: 100vw; 
    height: 2px; 
    top: 5%;
    background-color: white; 
    content: ""; 
}

.footer {
    position: relative;
    width: 100%;
    background: #0b61a8de;
    min-height: 120px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 footer .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li a{
    font-size: 1.3em;
    color: #ffffff;
    margin: 7px;
    display: inline-block;
}

footer .social-icon li:hover{
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

footer p{
    color:  #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}
